name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

env:
  REGISTRY: "cr.selcloud.ru/microservices-go"
  CONTAINER_NAME: "auth-server-container"
  IMAGE_NAME: "auth-server"

jobs:
  image-build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Registry
        run: docker login -u ${{ secrets.REGISTRY_USERNAME }} -p ${{ secrets.REGISTRY_PASSWORD }} $REGISTRY

      - name: Build and Push Docker Image
        run: |
          TAG_NAME=${GITHUB_SHA::7}
          docker buildx build --push --tag $REGISTRY/$IMAGE_NAME:$TAG_NAME -f Dockerfile .

  deploy-image:
    runs-on: ubuntu-latest
    needs: image-build-and-push
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Copy files to remote server
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          source: "docker-compose.prod.yaml,prod.env,migration_prod.Dockerfile,migration_prod.sh,migrations"
          target: "/app/auth/"

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          envs: IMAGE_NAME,REGISTRY,GITHUB_SHA,CONTAINER_NAME
          script: |
            cd /app/auth/
            TAG_NAME=${GITHUB_SHA::7}            
            export TAG_NAME=$TAG_NAME
            
            docker login -u ${{ secrets.REGISTRY_USERNAME }} -p ${{ secrets.REGISTRY_PASSWORD }} $REGISTRY
            export $(grep -v '^#' prod.env | xargs)
      
            # Вывод значения POSTGRES_USER для проверки
            echo "POSTGRES_USER: $POSTGRES_USER"
  
            if ! docker network inspect auth-net &> /dev/null; then
            docker network create auth-net
            fi
            
            docker compose -f docker-compose.prod.yaml down
            docker compose -vvv --env-file prod.env -f docker-compose.prod.yaml up -d --build